<div class="container-page">

    <div class="flex-container">
        <div class="align-center">
            <h2 class="titre-ajout">Ajouter un héro</h2>
            <button mat-fab color="primary" aria-label="Ajouter" (click)="openDialog(undefined)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    
        <!-- Formulaire de recherche (filtre) -->
        <mat-form-field class="ml-auto">
            <mat-label>Filtre</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <!-- Liste des héros -->
    <table mat-table #tableHeros [dataSource]="dataSourceHeros" matSort>
        <ng-container matColumnDef="nom"> <!-- ce que j'Ai défini dans le component columnsToDisplay = ['nom']; -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let hero"> {{hero.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th> <!-- on met rien dans l'entête -->
            <td mat-cell *matCellDef="let hero">
                <button mat-icon-button aria-label="Voir détails" routerLink="/heroRouteDynamique/{{ hero._id }}">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button aria-label="Modifier" (click)="openDialog(hero)">
                    <mat-icon>edit</mat-icon>
                </button>  
                <button mat-icon-button aria-label="Supprimer" (click)="deleteHero(hero._id)">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </ng-container>
            
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    
    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des héros"></mat-paginator>
        
</div>