<div class="container-page">

    <div class="flex-container">
        <!-- Formulaire d'ajout -->
        <form #heroForm="ngForm">
            <mat-form-field>
                <mat-label>Héro</mat-label>
                <input matInput placeholder="Ex. Flash" required minlength="2" maxlength="50" name="nom" 
                [(ngModel)]="hero.nom" #nom="ngModel" (keyup.enter)="addHero(heroForm)"> <!-- associer notre méthode on add() lorsque le formulaire est soumis  -->
            </mat-form-field>
            
            <button *ngIf="hero._id; else boutonAjout" mat-button mat-aria-label="Modifier" 
                [disabled]="!heroForm.form.valid" (click)="updateHero(heroForm)">modifier</button>
                <ng-template #boutonAjout>
                    <button mat-fab color="primary" aria-label="Ajouter" 
                    [disabled]="!heroForm.form.valid" (click)="addHero(heroForm)">ajouter</button>
            </ng-template>
        
            <!-- Ici c'est la gestion d'erreur -->
            <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">
                Le nom est obligatoire.
            </mat-error>
            <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">
                Le nom doit contenir au moins 2 caractères.
            </mat-error>
            <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">
                Le nom doit contenir au maximum 50 caractères.
            </mat-error>
        </form>
    
        <!-- Formulaire de recherche (filtre) -->
        <mat-form-field class="ml-auto">
            <mat-label>Filtre</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <!-- Liste des héros -->
    <table mat-table #tableHeros [dataSource]="dataSourceHeros" matSort>
        <ng-container matColumnDef="nom"> <!-- ce que j'Ai défini dans le component columnsToDisplay = ['nom']; -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let hero"> {{hero.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th> <!-- on met rien dans l'entête -->
            <td mat-cell *matCellDef="let hero">
                <button mat-icon-button aria-label="Voir détails" [routerLink]="['/heroRouteDynamique', hero._id]">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button aria-label="Modifier" (click)="showFormHero(hero)"><!-- viens affiche le nom du héro dans le formulaire -->
                    <mat-icon>edit</mat-icon>
                </button>  
                <button mat-icon-button aria-label="Supprimer" (click)="deleteHero(hero._id)"> <!-- viens appeler la fonction delete -->
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
            
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    
    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des héros"></mat-paginator>
        
</div>